// font variables
$font-text: "Roboto", sans-serif;

// page background
$page-backround: #e5e5e5;

// button variables
$button-backround: #1e264c;
$button-color: white;

//contact Title color
$contactTitleColor: #1e264c;

//navline color
$navLineColor: #cbcbcb;

//register input backround-color
$registerBackroundColor: #f0f0f0;

//slider Text Color
$sliderTextColor: white;
